/* Prayer List */
ul#echo-prayers {
	margin: 0;
	list-style: none;
}
ul#echo-prayers > li {
	margin: 1em 0;
}

/* Prayer Content */
span.echo-prayer-name {
	float: left;
	border: 1px dashed #aaa;
	border-radius: 4px;
	margin-top: -1px;
	margin-right: .35em;
	padding: 0 .35em;
}

/* echo pray button */
div.echo-prayer-button {
	display: inline-block;
}
div.echo-prayer-button span,
div.echo-prayer-button input[type="submit"] {
	line-height: 1.65em;
	display: inline-block;
}
span.echo-pray-button input[type="submit"] {
	border-top: 1px solid #2582EA;
	border-bottom: 1px solid #2582EA;
	border-right: 1px solid #2582EA;
	border-left: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 0 0.65em;
	color: #fff;
	background: #2582EA;
	margin-left: -5px;
	outline: none;
}
span.echo-pray-button:hover input[type="submit"] {
	background: #36DA99;
	color: #fff;
	border-top: 1px solid #36DA99;
	border-bottom: 1px solid #36DA99;
	border-right: 1px solid #36DA99;

}
span.echo-pray-button form.prayed-for input[type="submit"] {
	background: #36DA99;
	color: #fff;
	border-top: 1px solid #36DA99;
	border-bottom: 1px solid #36DA99;
	border-right: 1px solid #36DA99;
	cursor: default;
}

span.echo-prayer-count {
	background: #efefef;
	padding: 0 0.5em;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	border-right: 1px solid #efefef;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #333;
}

/* Prayer Meta */
.prayer-meta {

}
.prayer-meta ul {
	display: block;
	list-style-type: none;
	list-style-image: none;
	margin: 0 0 1em 0;
	font-size: 0.9em;
}
.prayer-meta ul li {
	display: inline-block;
	margin-right: 0.25em;
}
span.echo-box {
	background: #efefef;
	color: #333;
	padding: 0.25em 0.5em;
	border-radius: 4px;
	border: 1px solid #efefef;
}

li.prayer-avatar-small img {
	width: 24px;
	height: 24px;
	background: #efefef;
	border-radius: 4px;
	margin-top: -2px;
}