
.echo-admin {}
.echo-location {}
.echo-location .avatar {
	float: left;
	margin-right: 0.25em;
	display: inline-block;
}
.echo-location .avatar img {

}
.echo-location .details {
	position: absolute;
	margin-left: 35px;
}


th#title {
	width: 200px;
}
th#prayer_location {
  width: 320px;
}
th#taxonomy-prayer_category {
	width: 100px;
}
th#prayer_count {
	width: 50px;
}
th#prayer_answered {
	width: 80px;
}
th#prayer_anonymous {
	width: 90px;
}


span.echo-update-count {
	background: #1B1E22;
	display: inline-block;
	padding: .35em .65em;
	margin: -5px 0 -5px 5px;
	border-radius: 2em;
}
span.echo-update-count {
	color: #9DA1A8;
}