.screen-reader-text { display: none; }

/* Prayer List */
ul#prayers {
	margin: 0;
	list-style: none;
}
ul#prayers > li {
	margin: 1em 0;
}

/* Prayer Content */
span.prayer-name {
	float: left;
	border: 1px dashed #aaa;
	border-radius: 4px;
	margin-top: -1px;
	margin-bottom: -4px;
	margin-right: .35em;
	padding: 0 .35em;
}

/* echo pray button */
div.prayer-button {
	display: inline-block;
}
div.prayer-button span,
div.prayer-button input[type="submit"] {
	line-height: 1.65em;
	display: inline-block;
}
span.prayer-pray-button input[type="submit"] {
	border: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 0.15em 0.65em;
	color: #fff;
	background: #2582EA;
	margin-left: -5px;
	outline: none;
}
span.prayer-pray-button:hover input[type="submit"] {
	background: #36DA99;
	color: #fff;
	border: 0;

}
span.prayer-pray-button form.prayed-for input[type="submit"] {
	background: #36DA99;
	color: #fff;
	border: 0;
	cursor: default;
}
span.prayer-count {
	background: #efefef;
	padding: 0.15em 0.75em;
	display: inline-block;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #333;
}
.prayer-answered-checkbox label {
  display: inline-block;
}
span.prayer-answered {
	background: #888 !important;
	color: #fff !important;
	margin-left: -8px;
}

div.prayer-answered {
	font-style: italic;
	padding: 1em;
	background: #f7f7f7;
	border: 1px solid #efefef;
	border-radius: 4px;
}
span.taxonomy-prayer-tag {
  margin-right: 0.5em;
  text-transform: capitalize;
}

/* Prayer Meta */
.prayer-meta {

}
.prayer-meta ul {
	display: block;
	list-style-type: none;
	list-style-image: none;
	margin: 0 0 1em 0;
	font-size: 0.9em;
}
.prayer-meta ul li {
	display: inline-block;
	margin-right: 0.25em;
}
.prayer-meta ul li.prayer-taxonomy span {

}
span.prayer-box {
	background: #efefef;
	color: #333;
	padding: 0.25em 0.75em;
	display: inline-block;
	border-radius: 4px;
}

li.prayer-avatar-small img {
	background: #efefef;
	border-radius: 4px;
	margin-top: -3px;
	display: inline-block;
}
li span.right {

}

/* form elements */
.inline-form-elements label {
	display: inline-block;
}
.prayer-form label.hide { 
	display: none; 
}
.echo.form-errors,
label.error {
  	padding: 0.5em 1em;
  	border: 1px solid #FF8488;
  	background: #FFD7DB;
  	border-radius: 4px;
  	margin-bottom: 1.5em;
}
.echo.form-errors ul {
	margin-bottom: 0;
}
ul.inline-form-elements {
	margin-left: 0;
}
ul.inline-form-elements li {
  display: inline-block;
}
ul.inline-form-elements li label {
  margin-left: 0;
}

/* Map styles */
#prayer-map {
  	width: 100%;
  	height: 500px;
}

/* Flash Messages */
.flash {
  padding: 0.5em 1em;
  margin-bottom: 1em;

}
.flash-success {
	background: #C8FFD6;
	border: 1px solid #9DD38D;
}
.flash-error {
	background: #FFD4D8;
	border: 1px solid #FF9A90;
}

ul#prayer-navigation {
	list-style: none;
	margin: -3.5em 0 1em;
	float: right;
	border-radius: 4px;
	font-size: .95em
}
ul#prayer-navigation a {
	background: #888;
	color: #fff;
	padding: 0.35em 0.85em;
	border-radius: 4px;
}
ul#prayer-navigation a:hover {
	background: #aaa;
}
ul#prayer-navigation li {
	display: inline-block;
}
ul#prayer-navigation li:first-child {
	border-left: 0;	
}
ul#prayer-navigation li.login a {
	
}